<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Change album permissions</h3>
    </div>
    <div>
      <form name="permissionform">
      <ul class="nav nav-tabs nav-stacked col-lg-12" ng-repeat="_set in albums | orderBy:'-key'">
        <li class="albumyear">{{ _set.key }}</li>
        <li>
          <ul class="nav nav-stacked col-lg-4" ng-repeat="album in _set.albums | orderBy:'name'">
            <li class="album">{{ album.name }}: {{ album.description }}</li>
            <li>
              <ul class="nav nav-stacked col-lg-4" ng-repeat="user in users | orderBy:'name'">
                <li><input type="checkbox" ng-model="checkboxValues[album._id][user._id]" ng-change="togglePermission(album._id, user._id)"> {{ user.name }}</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      </form>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>