.media {
  max-width: 98%;
  padding: 1%;
  padding-bottom: 10%;
}

.showcase {
  max-width: 98%;
  max-height: 98%;
}

.controls img {
  min-width: 10%;
  max-width: 25%;
}

.comment {
  padding-bottom: 15px;
}
.commentheader {
  font-size:1em;
  margin-left:20px;
  margin-bottom:10px;
}
.commentcontent {
  font-size:1em;
  padding-left:30px;
  padding-top:5px;
  padding-bottom:5px;

}
.commentauthor {
  font-weight: bold;
  font-size:1.2em;
}
.commenttimestamp {
  font-size:1.0em;
}
.evencomment {
  background: rgba(71, 164, 71, 0.40);
}
.oddcomment {
  background: rgba(71, 164, 71, 0.30);
}
.user-comment {
  width: 100%;
}