<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">{{ album.name }}</h3>

      <p>{{ album.description }}, van {{ album.startDateStr }} tot {{ album.endDateStr }}. Er zijn {{ media.length }} bestanden in dit album.</p>
      <p>Je kunt <b><a href="/album/{{ album._id }}/{{ album.name }}/upload">ook nieuwe fotos uploaden</a></b>. Deze worden automatisch aan het album toegevoegd</p>
      <div ng-hide="overviewActive()">
        <span class="glyphicon glyphicon-trash menu-glyph" ng-show="isAdmin()" ng-click="removeMedia(selectedMedia)">&nbsp;</span>
        <!--
        <span class="glyphicon glyphicon-star menu-glyph">&nbsp;</span>
        <span class="glyphicon glyphicon-star-empty menu-glyph">&nbsp;</span>
        -->
      </div>
    </div>
  </div>
  <div ng-switch on="overviewActive()">
    <!-- Single media -> detailed view -->
    <div class="animate-switch" ng-switch-when="false">
      <div>
        <div class="row slide slide-animation non-draggable-image"
             ng-swipe-right="setMedia(prevMediaID)" ng-swipe-left="setMedia(nextMediaID)">
          <show-media-file media-file="selectedMedia" size="960" />
        </div>
        <div class="row controls">
          <span class="navigation-glyph ctrl-left" ng-hide="hasMediaAtPosition(prevMediaID)">&nbsp;</span>
          <span class="glyphicon glyphicon-chevron-left navigation-glyph ctrl-left" ng-show="hasMediaAtPosition(prevMediaID)" ng-click="setMedia(prevMediaID)"></span>
          <span class="glyphicon glyphicon-chevron-right navigation-glyph ctrl-right" ng-show="hasMediaAtPosition(nextMediaID)" ng-click="setMedia(nextMediaID)"></span>
          <span class="glyphicon glyphicon-chevron-up navigation-glyph ctrl-middle" ng-click="setMedia(undefined)"></span>
        </div>
        <div>
          <comment-block comments="comments" />
        </div>
        <div class="row write-comment">
          <form ng-submit="saveCommentById()">
            <textarea class="input-lg user-comment" ng-model="comment.text" type="text" name="user-comment" placeholder="Je reactie"></textarea>
            <span class="input-lg error" ng-show="comment.error">{{ comment.error }}</span>
            <button type="submit" class="btn btn-success btn-lg btn-block">
              <span class="glyphicon glyphicon-comment">&nbsp;</span>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="animate-switch" ng-switch-when="true">
      <!-- Overview -->
      <div class="row row-centered">
        <div class="col-xs-4 col-centered media-data" ng-repeat="m in media">
          <show-media-file ng-click="setMedia($index)" media-file="m" size="345" />
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
